html,body{
    height: 100%;
}

.homepage {
    min-height: 100%;
    background-image: url("http://i61.tinypic.com/dp96bq.png");
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    font-family: Cursive;
    overflow: hidden;
}
.homepage_text {
    padding-top: 500px
}

input {
  font-family: Helvetica;
    text-align: center;
}
