<h1>All Gnawers</h1>

<ul>
<% @users.each do |user| %>

  <%next if user.id == @id%>

  <li>
    <a href="<%= "/profile/#{user.id}" %>"><%= user.first_name %></a>

    <form action="/profile/<%= user.id %>/gnaw" method="post">
      <input type="submit" value="Gnaw">
    </form>

    <form action="/profile/<%= user.id %>/ungnaw" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" value="Ungnaw" />
    </form>
  </li>


<% end %>

</ul>
