<div class="intro">
  <h1> Welcome to Gnawer </h1>
  <p> Get ready to gnaw your tails off </p>
  <p> you dumb fuck </p>
  <%if @id%>
    <p> Welcome Back <%=@user.first_name%> </p>
  <%end%>


<form action="login" method="get">
  <input type="submit" value="Login Already You Asshole"/>
</form>

<form action="signup" method="get">
  <input type="submit" value="Sign Up. YOU DUMB FUCK"/>
</form>

  <%if @id%>
    <form action="/logout" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Log Out"/>
    </form>
  <%end%>

<p> ..|. inspired by Derek .|.. </p>
</div>

