<h1> <%= @user.first_name %> </h1>

<ul>
  <% @followees_ids.each do |link_id| %>
  <li> <%= User.where(id: link_id).first.first_name %> </li>
  <% end %>
</ul>


<!-- <ul>
  <% @followers_ids.each do |link_id| %>
  <li> <%= User.where(id: link_id).first.first_name %> </li>
  <% end %>
</ul> -->
